.about-container {
  text-align: center;
  padding: 60px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
}

.about-container h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.photo_bio {
  width: 350px;
  height: auto;
  border-radius: 8px;
  filter: drop-shadow(30px 10px 4px white);
}

.about-text {
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  text-align: left;
  max-width: 600px;
}
