.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-image: url("../../assets/image-contact.jpeg");
  background-repeat: no-repeat;
}

/* Wrapper pour centrer le formulaire */
.form-image-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 90%;
}

/* Formulaire */
.form-container {
  background: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 70px;
  width: 35%;
}

.form-container h1 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
  font-size: 14px;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.form-container textarea {
  resize: none;
  height: 80px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff6b6b;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #ff4757;
}
